@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
}

h1 {
    margin: 2rem;
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    border-bottom: solid 5px orange;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    font-size: 2rem;
    margin: 1rem;
}

section .justification_comment  {
   font-size: 1.5rem; 
   padding: 2rem;
}

.card_section ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    padding: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 5px pink;
    border-radius: 50px;
    margin: 1rem;
}

.card img {
    width: 300px;
}

/* .card p {
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    text-overflow:ellipsis;
} */

.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.info a {
    font-size: 3rem;
    text-decoration: none;
}

span {
    color: pink;
}

.gallery_img_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 5rem;
}

.item {
    width: auto;
    height: auto;
    border: solid 5px red;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#span_2_vertical {
    grid-row: span 2;
}

#span_2_horizontal {
    grid-column: span 2;
}

#span4 {
    grid-column: span 2;
    grid-row: span 2;
}

.rh_section {
    padding: 4rem;
}

.service_list_card {
    display: flex;
    gap: 3rem
}

.service_card {
    display: flex;
    flex-direction: column;
    border: solid 4px #3A86FF;
    border-radius: 10px;
    padding: 2rem;
    height: 700px;
    grid-row: span 2;
    width: 50%;
}

.service_card h2, .service_rh_card  h2 {
    margin-bottom: 5rem;
    font-weight: 600;
    color: #3A86FF;
}

.service_lines_list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.service_line {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #3A86FF;
    color: #E06E3C;
    padding: 1rem;
}

.service_lines_list li:first-child {
    color: white;
    background-color: #3A86FF;
}

.results_and_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3A86FF;
}

.results_and_button button {
    background-color: #3A86FF;
    border: none;
    padding: 1rem;
    color: white;
    border-radius: 5px;
}

.service_rh_card {
    display: flex;
    flex-direction: column;
    border: solid 4px #3A86FF;
    border-radius: 10px;
    padding: 2rem;
    height: 700px;
    width: 50%;
    height: 50%;
}

.service_rh_lines_list {
    display: flex;
    flex-direction: column;
}

.service_rh_line {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    color: #E06E3C;
    padding: 1rem;
}

.service_rh_line a{
    color: #E06E3C;
}

.buttons_rh_line {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.buttons_rh_line button {
    height: 30px;
    width: 200px;
}

#rh_delete_button {
    border: none;
    background-color: #FF7070;
    border-radius: 10px;
    color: white;
}

#rh_add_button {
    border: none;
    background-color: #3A86FF;
    border-radius: 10px;
    color: white;
}

.invoices_section{
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.invoices_cardlist {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

.invoice_info_lines {
    border: solid 2px #3A86FF;
    display: flex;
    justify-content: space-between;
    padding:2rem;
    border-radius: 10px;
    align-items: center;
}

.invoice_info_lines li {
    text-align: center;
    justify-content: center;
    align-content: center;
}

.invoice_info_lines li:nth-child(1){
font-size: 1.5rem;
color: #3A86FF;;
font-weight: 800;
}

.invoice_info_lines li:nth-child(2){
    font-size: 1.5rem;
    color: #3A86FF;
    }

    .invoice_info_lines li:nth-child(3){
        font-weight: 600;
        font-size: 1.5rem;
        color: #3A86FF;
        }

        .invoice_info_lines  li:nth-child(4){
            color: #5CBE7D;
            background-color: #C4FFD8;
            padding: 1rem;
            border-radius: 10px;
            font-weight: 600;
            font-size: 1.3rem;
            width: 100px;
            height: 50px;
        }

        .invoice_info_lines li:nth-child(4).pending{
            color: #F1AE00;
            background-color: #FFEEC4;
        }